.sectionTwo{

    background-color:rgb(252, 252, 252);
    color: #575c5c;
    text-align: center;
    
    
  }
  
  .sectionTwoLeft{
    
    flex-direction: column;
    justify-content: center;
    text-align:left;
    padding-top: 100px;
    background-color:rgb(252, 252, 252);
  
  }

  .sectionTwoCenter{    
    flex-direction: column;
    justify-content: center;
    text-align:center;
    padding-top: 100px;
    background-color:rgb(252, 252, 252);
  
  }

  .sectionTwoBox img{
    width: 30%;
    
  }

  .textjustify p{
      text-align:left;
  }
  
  